body {
  font-family: Arial, sans-serif;
  background-color: #2c3e50;
  color: #ecf0f1;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: #39546f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
  color: #ecf0f1;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: calc(50% - 10px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #2c3e50;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #ecf0f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

#movieResults {
  margin-top: 20px;
}

.movie-item {
  border: 1px solid#ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.movie-item img {
  width: 100px;
}
.movie-list {
  list-style: none;
  padding: 0;
}
.movie-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.movie-item img {
  width: 200px;
  height: 300px;
}

.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 75, 88, 0.362);
}

.popup {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup button {
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.popup button:hover {
  background-color: #ddd;
}
